---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import 'minimal-mistakes'; // main partials

@font-face {
  font-family: 'Inter', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap");
  font-weight: normal;
  font-style: normal;
}