/* ==========================================================================
   TABLES
   ========================================================================== */

    //border-collapse: collapse;
    //margin: 25px 0;


table {
  //display: block;
  max-width: 500px;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  //font-size: $type-size-6;
  font-size: 12px;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-x: auto;
  border-radius: 15px !important;
  & + table {
    margin-top: 1em;
  }

  th,
  td {
    border: 1px solid #9b9f9e;
  }
}

thead {
  //background-color: $border-color;
  background-color: #dda23e;
  //border-bottom: 3px solid mix(#965a00, #dda23e, 25%);
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}
